//Topics involved: variables, functions and mixins
@use "sass:color";
$small: 576px;
$medium:768px;
@mixin layout($color, $size:14px) {
    color: $color;
    background-color: color.scale(color.invert($color), $lightness: 80%);
    font-size: $size;
    margin: $size;
    padding: $size;
    line-height: $size*1.5;
    border: 5px solid $color;
}

#container {
    @include layout(darkred);
}

@media screen and (min-width: $small) {
    #container {
        @include layout(darkblue, 16px);
    }
}

@media screen and (min-width: $medium) {
    #container {
        @include layout(darkgreen, 20px);
    }
}