* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #ccc;
}

article {
    max-width: 800px;
    margin: 0 auto 0 auto;
    background-color: white;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 40px;
    padding: 0 auto 0 auto;
    img {
        width: 225px;
        height: 225px;
        margin-bottom: 10px;
        &:nth-child(1) {
            @include frame(3px);
        }
        &:nth-child(2) {
            @include frame(3px, dotted);
        }
        &:nth-child(3) {
            @include frame(3px, $color-border: mediumseagreen);
        }
        &:nth-child(4) {
            @include frame(6px, $color-border: #B8181B, $color-bg: #e7d5c2, $padding: 20px, $radius: 40px);
        }
        &:nth-child(5) {
            @include frame(6px, dashed, rgb(109, 85, 106), peru, 20px, 50%);
        }
        &:nth-child(6) {
            @include frame(3px, $color-bg: #aac5d9, $padding: 20px, $radius: 50%);
        }
    }
}