//Topics involved: variables, functions and nesting
@use "sass:color";
@import "reboot";
$fontstack: 'Gotu';
$fontsize: 16px;
$primary: lightskyblue;
$primary_dark: color.scale($primary, $lightness:-75%);
#container {
    max-width: 800px;
    margin: auto; //aling-center
}

h1 {
    color: $primary_dark;
}

nav {
    ul {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding: 0;
        li {
            display: block;
            background-color: $primary;
            outline: 1px solid $primary_dark;
            width: 100%;
            text-align: center;
            padding: 10px;
            transition: font-weight .5s ease-in-out;
            transition: background-color 1s linear;
            a {
                text-decoration: none;
                color: $primary_dark;
            }
            &:hover {
                --bold: 700;
                font-weight: var(--bold);
                background-color: $primary_dark;
                a {
                    color: $primary;
                }
            }
        }
    }
}

main {
    ul {
        padding-inline-start: 1rem;
    }
}

@media screen and (max-width: 650px) {
    nav {
        ul {
            flex-direction: column;
        }
    }
}